@import 'https://fonts.googleapis.com/css?family=Lalezar';
body, html {
    overflow:hidden;
    width:100vw;
    height:100vh;
    font-family: 'Lalezar', cursive;
}

.Welcome{
    animation: backAn 200s infinite;
    background: url(https://images.wallpaperscraft.com/image/code_letters_screen_135985_2560x1024.jpg);
    background-color:#cdc8c4;
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
}

.Grizzly{
    mix-blend-mode: lighten;
    position: absolute;
    bottom:0;
    width:100%;
    z-index:2;
    height: 100vh;
}

.Claim{
    position:absolute;
    bottom:60px;
    left: calc(50% - 100px );
    margin:auto;
    z-index: 3;
    color:#ccc7c3;
}

.Claim h1{
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0;
    padding:0;
    font-weight: 400;
    line-height: 0em;
    text-align: center;
}

.Claim h2{
    font-size: 1.9em;
    text-transform: uppercase;
    margin: 0;
    padding:0;
    text-align: center;
}

@keyframes backAn {
    0%   { background-position:0% 100%; }
    50%   { background-position:100% 100%; }
    100%   { background-position:0% 100%; }
}